{% extends 'shopapp/base.html' %}

{% block title %}
    Order #{{ object.pk }} details
{% endblock %}

{% block body %}
    <h1>Order #{{ object.pk }}</h1>
        <div>
        <p>Order by {% firstof object.user.first_name object.user.username %}</p>
        <p>Promo code: <code>{{ object.promo_code }}</code></p>
        <p>Delivery address: {{ object.delivery_address }}</p>
        <div>
            Product in order:
        </div>
            <ul>
                {% for product in object.products.all %}
                    <li>{{ product.name }} for ${{ product.price }}</li>
                {% endfor %}
            </ul>
    </div>
    <div>
        <a href="{% url 'shopapp:order_list' %}"
        >Back to orders</a>
    </div>
    <br>
    <div>
        <a href="{% url 'shopapp:order_update' object.pk %}"
        >Update Order</a>
    </div>
    <br>
    <div>
        <a href="{% url 'shopapp:order_delete' object.pk %}"
        >Delete Order</a>
    </div>
    <br>
{% endblock %}